<!doctype html>
<meta charset="utf-8">
<title>Semantics & Pragmatics</title>
<link rel="stylesheet" href="master.css">
<div class="wrapper">
  <header>
    <h1>Semantics &amp; Pragmatics</h1>
    <p>Public resources for the authoring and styling of Semantics &amp; Pragmatics articles.</p>

    <h2>Pages</h2>
    <dl>
      <dt>Introduction</dt>
        <dd><a href=".">Basic configuration</a></dd>
      <dt>The basics</dt>
        <dd><a href="basics.html">The template structure explained</a></dd>
      <dt>Styling</dt>
        <dd><a href="style.html">Punctuation, citations, and more</a></dd>
    </dl>

    <h2>Resources</h2>
    <dl>
      <dt>Empty template</dt>
        <dd><a href="source/sp-template.tex">sp-template.tex</a></dd>
      <dt>S&P Style file</dt>
        <dd><a href="source/sp.cls">sp.cls</a></dd>
      <dt>S&P BibTeX Style</dt>
        <dd><a href="source/sp.bst">sp.bst</a></dd>
    </dl>
    <!-- <p class="view"><a href="https://github.com/semprag">View My GitHub Profile</a></p> -->
  </header>
  <section>
    {{ content }}
  </section>
  <footer>
    <!-- <p><small>Hosted on GitHub Pages</small></p> -->
  </footer>
</div>
<script>
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  try {
    var pageTracker = _gat._getTracker("UA-20644777-6");
    pageTracker._trackPageview();
  } catch(err) {}
</script>
