<!doctype html>
<meta charset="utf-8">
<title>Semantics & Pragmatics</title>
<link rel="stylesheet" href="stylesheets/styles.css">
<link rel="stylesheet" href="stylesheets/pygment_trac.css">
<div class="wrapper">
  <header>
    <h1>Semantics &amp; Pragmatics</h1>
    <p>Public resources for the authoring and styling of Semantics &amp; Pragmatics articles.</p>

    <h2>Pages</h2>
    <p>
      <a href="/basics">The basics: the template structure explained</a>
      <a href="/style">Styling: punctuation, citations, and more</a>
    </p>

    <h2>Resources</h2>
    <p>
      <a href="/source/sp-template.tex">Empty template</a>
      <a href="/source/sp.cls">sp.cls</a>
      <a href="/source/sp.bst">sp.bst</a>
    </p>
    <!-- <p class="view"><a href="https://github.com/semprag">View My GitHub Profile</a></p> -->
  </header>
  <section>
    {{ content }}
  </section>
  <footer>
    <!-- <p><small>Hosted on GitHub Pages</small></p> -->
  </footer>
</div>
<script>
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  try {
    var pageTracker = _gat._getTracker("UA-20644777-6");
    pageTracker._trackPageview();
  } catch(err) {}
</script>
