<!doctype html>
<meta charset="utf-8">
<title>Semantics &amp; Pragmatics</title>
<link rel="stylesheet" href="master.css">
<div class="wrapper">
  <header>
    <div class="logo" style="padding-right: 30px">
      <a href="/">{% include logo.svg %}</a>
    </div>
    <p>Public resources for the authoring and styling of <a href="http://semprag.org/" class="journal">Semantics &amp; Pragmatics</a> articles.</p>

    <h2>Pages</h2>
    <dl>
      <dt>Guidelines</dt>
        <dd><a href="author">Guidelines for S&P authors</a></dd>
        <dd><a href="reviewers">Guidelines for S&P reviewers</a></dd>
      <dt>Typesetting</dt>
        <dd><a href="basics">sp.cls and the template structure</a></dd>
        <dd><a href="style">Style guidelines for final submission</a></dd>
    </dl>

    <h2>Resources</h2>
    <dl>
      <dt>Empty template</dt>
        <dd><a href="source/sp-template.tex">sp-template.tex</a></dd>
      <dt>S&amp;P Style file</dt>
        <dd><a href="source/sp.cls">sp.cls</a></dd>
      <dt>S&amp;P BibTeX Style</dt>
        <dd><a href="source/sp.bst">sp.bst</a></dd>
    </dl>

    <p><a href="https://github.com/semprag/semprag.github.com">Repository on Github</a></p>
  </header>
  <section>
    {{ content }}
  </section>
  <footer>
  </footer>
</div>
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20644777-6']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
